.flex-container{
    display:flex;
    justify-content: space-around;
    align-items: center;
    background-color: dodgerblue;
    
   
}
.flex-container > div{
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;                                                                                                                                                                  
}

*{
    box-sizing:border-box;
}
body{
    background-color:#f1f1f1;
    padding:20px;
    font-family:Arial;
}
/*center website*/
.main{
    max-width: 1000px;
    margin:auto;
}
h1{
    font-size: 50px;
    word-break:break-all;
}
.row{
    margin:8px - 16px;
}
/**/
.row,
.row > .column{
    padding:8px;
}
/*four equal columns that float next to each other*/
.column{
    float:left;
    width: 33.33%;
}
.row:after {
    content:"";
    display:table;
    clear:both;
}
.content{
    background-color: rgb(204, 182, 200);
    padding:10px;
}
#imgtext{
    float:right;
    width:400px;
    height:250px;
    margin-left:15px;
}


.clearfix{
    overflow: auto;
    border: 3px solid #4CAF50;
    padding: none;
    
}
@media screen and (max-width:900px){
    .column{
        width:50%;
    }
}
@media screen and (max-width: 600px){
   .column {
        width:100%;
    }
}

